body {
    width: 500px;
    height: 500px;
}
#back {
    cursor: pointer;
    color: #0000EE;
}
#mytable {
    width: 100%;
    table-layout: fixed;
}

.index {
    width: 4%;
}

.value {
    cursor: pointer;
    width: 40%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.title {
    width: 40%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.time {
    width: 10%;
}

.ago {
    width: 12%;
}